.plan-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 88vh;

    &__link{
        color: var(--blanc);
        padding: 2rem;
        font-size: 2em;
        &:hover {
            transform: translateY(-4px);
            transition: transform 0.3s ease-in-out;
            color:  var(--orange);
        }
    }
    .light-theme &__link {
        color: var(--noir);
        &:hover {
            color:  var(--orange);
        }
    }
}

