// styles.scss
.dark-theme {
    // Styles pour le thème clair
    background-color: var(--violet);
    color: #ffffff;
    // ... Autres styles
}
.light-theme {
    // Styles pour le thème sombre
    background-color: #ffffff;
    color: #000000;
    // ... Autres styles
}
